<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="source_file" value ="F:\Development\Проэкт\balance_debug.xlsx" />
		<add key ="destination_file" value="F:\Development\Проэкт\Result.txt" />
		<add key ="cell_name" value="C18"/>		
		<add key ="processing_time" value="05:00"/>
		<add key ="last_processed_date" value ="01.01.2023"/>
		<add key ="last_source_file_changed" value ="01.01.2023"/>
		<add key="last_cell_value" value="-1"/>
	</appSettings>
	
</configuration>