<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="source_file" value ="C:\Users\Public\Documents\balance_debug.xlsx" />
		<add key ="destination_file" value="C:\Users\Public\Documents\DayEfficiency.txt" />
		<add key ="cell_name" value="C18"/>
		<add key ="last_processed_date" value ="11.07.2023 09:34:00"/>
		<add key ="processing_time" value="05:00"/>
	</appSettings>
	
</configuration>