<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings file="">
  <clear />
  <add key="source_file" value="C:\Users\Public\Documents\balance_debug.xlsx" />
  <add key="destination_file" value="C:\Users\Avdos\source\repos\DayEfficiency\DayEfficiency.txt" />
  <add key="cell_name" value="C18" />
  <add key="processing_time" value="05:00" />
  <add key="last_processed_date" value="01.02.2024 0:00:00" />
  <add key="last_cell_value" value="21,22" />
 </appSettings>
</configuration>